/*
** +---------------------------------------------------+
** | Name :		~/admin/adm_tpl/ie7.css
** | Project :	Fire-Soft-Board 2 - Copyright FSB group
** | License :	GPL v2.0
** |
** | Vous pouvez modifier, réutiliser et redistribuer
** | ce fichier à condition de laisser cet entète.
** +---------------------------------------------------+
*/

fieldset
{	
	padding: 0px 10px 5px 10px;
	margin-top: 20px;
}

legend
{	
	margin-bottom: -10px;
	margin-left: -7px;
	top: -1.2em;
}

a.submit, a.reset
{
	padding: 4px;
	position: relative;
	top: -5px;
}